<template name="right">
 <aside id="sidebar-right" style="display: block;right:-245px;">
        <h4 class="sidebar-title">系统用户列表</h4>
        <div id="contact-list-wrapper">
            <div class="heading">
                <ul>
                    <li class="new-contact"><a href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                        <input type="text" class="search" placeholder="搜索">
                        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div id="contact-list">
                <ul>
                    {{#each userList}}
                    <li>
                        <input type="hidden" class="uid" value="{{id}}"/>
                        <div class="row userItem">
                            <div class="col-md-3">
                                <span class="avatar">
                        <img src="{{avatar}}" class="img-circle" alt="">
                          <i class="on animated bounceIn"></i>
                        </span>
                            </div>
                            <div class="col-md-9">
                                <div class="name">{{nickName}} </div>
                                <small class="location text-muted"><i class="icon-pointer"></i> Sarasota, FL</small>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div id="contact-user">
                <div class="chat-user active"><span><i class="icon-bubble"></i></span></div>
                <div class="email-user"><span><i class="icon-envelope-open"></i></span></div>
                <div class="call-user"><span><i class="icon-call-out"></i></span></div>
            </div>
        </div>
    </aside>
</template>